<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="stock">
      <h2 data-cy="stockDetailsHeading"><span>Stock</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ stock.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ stock.name }}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
          <span>{{ stock.category }}</span>
        </dd>
        <dt><span>Purchase Price</span></dt>
        <dd>
          <span>{{ stock.purchasePrice }}</span>
        </dd>
        <dt><span>Sale Price</span></dt>
        <dd>
          <span>{{ stock.salePrice }}</span>
        </dd>
        <dt><span>Units</span></dt>
        <dd>
          <span>{{ stock.units }}</span>
        </dd>
        <dt><span>Company</span></dt>
        <dd>
          <span>{{ stock.company }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/stock', stock.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
